.badge{
  font-weight: bold;
  color:white;
  margin:10px;
  text-align: center;
  background:#323ea8;
  width: 100px;
  border-radius: 14px ;
  font-family: cursive;
  box-shadow: 2px 2px 1px 0.5px grey;
  }

.incr{
  font-weight: bold;
  border-radius: 14px ;
  box-shadow: 2px 2px 1px 0.5px grey;
  text-align: center;
  margin:10px;
  color:white;
  font-family: cursive;
  padding: 10px;
  background: #4a4f57;
  height: 50px;
  width: 80px;
}
.incr:hover{
  border-radius: 20px ;
  box-shadow: 2px 2px 1px 0.5px grey;
}

.bn{
  display: flex;
}
