.box{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    width: 500px;
    border: 2px solid grey;
}
.box:hover{
    box-shadow: 2px 2px 3px black;
    transition-delay: 0s;
    transition-duration: 0.1s;
}

.base{
    display: flex;
    justify-content: center;
    
}